{% extends 'base_front.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{  encore_entry_link_tags('login') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('login') }}
{% endblock %}
{% block body %}


    <div class="container">
        <form method="post">
        {% if error %}
            <div class="alert-danger box">
                <small class="error_message">{{ error.messageKey|trans(error.messageData, 'security') }}</small>
            </div>
        {% endif %}
        {% if app.user %}
           <div class="alert-warning box">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
    
        {% endif %}
            <div class="loginContainer">
                <div class="blockLogin">
                    <div class="loginImageContainer">
                        <img src="{{ asset('images/logo.png') }}" alt="logo" class="loginLogo">
                    </div>
                    <div class="input-style">
                        <label for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                    </div>
                    <div class="input-style">
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    </div>
                    <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">
                    <div class="forgotPasswordDiv">
                        <a href="{{path('front_forgot_password_request')}}">Mot de pass oublié</a>
                        <a href="{{path('register-choice')}}">Inscription</a>
                    </div>
                    <button class="validate_button" type="submit">Se connecter</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
    {#
    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
    See https://symfony.com/doc/current/security/remember_me.html

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> Remember me
        </label>
    </div>
    #}