{% extends 'base_front.html.twig' %}
{% block title %}Register{% endblock %}
{% block body %}
 <div class="container">
    <form method="post">
        <div class="loginContainer">
            <div class="loginImageContainer">
                <img src="{{ asset('images/logo.png') }}" alt="logo" class="loginLogo">
            </div>
            {{form_start(form, {'attr': {'class': 'form-register'}})}}
            <div class="form_error">
              {{ form_errors(form) }}
            </div> 

            <div class="form-widget">
                {{ include('front/event/_input_textarea.html.twig') }}
            </div>
            

            <button  class="validate_button"type="submit" class="button">Register</button>
           
            {{form_end(form, {})}}
        </div>
    </form>
</div>
{% endblock %}