{% extends 'base_front.html.twig' %}
{% block body %}

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    <div class="input-container">
        <label>artistes du groupe</label>
        <select class="js-example-basic-multiple" name="music[]" multiple="multiple">
            {% for music in musics %}
                <option value="{{ music.id }}">{{ music.name }}</option>
            {% endfor %}
        </select>
    </div>
    <script>    
            $(document).ready(function() {
                $('.js-example-basic-multiple').select2();
            });

        </script>
{{ form_end(form) }}
{% endblock %}
