{% extends 'base_front.html.twig' %}

{% block body %}
    <section class="album-show">
        <div class="header">
            <img src="{{ asset('images/' ~  album.image) }}" alt="logo" />
            <div class="text">
                <span>ALBUM</span>
                <h2>{{ album.name }}</h2>
                <a href="{{ path('front_app_music_group_show', {'id': album.musicGroup.id}) }}">{{ album.musicGroup.name }}</a>
            </div>
        </div>
        
        <a class="edit" href="{{ path('front_app_album_edit', {'id': album.id}) }}">Modifier</a>
        <span>MUSICS</span>
        <ul>
        {% for music in musicList %}
            <li>
                {{music.name}}
            </li>
        {% endfor %}
        </ul>
    </section>
    
{% endblock %}
