<!DOCTYPE html>

<title>NewsGroup index</title>

{% block body %}
    <h1>NewsGroup index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Post</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for news_group in news_groups %}
            <tr>
                <td>{{ news_group.id }}</td>
                <td>{{ news_group.post }}</td>
                <td>
                    <a href="{{ path('front_app_news_group_show', {'id': news_group.id}) }}">show</a>
                    <a href="{{ path('front_app_news_group_edit', {'id': news_group.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('front_app_news_group_new') }}">Create new</a>
{% endblock %}
