<!DOCTYPE html>

<title>NewsGroup</title>

{% block body %}
    <h1>NewsGroup</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ news_group.id }}</td>
            </tr>
            <tr>
                <th>Post</th>
                <td>{{ news_group.post }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('front_app_news_group_index') }}">back to list</a>

    <a href="{{ path('front_app_news_group_edit', {'id': news_group.id}) }}">edit</a>

    {{ include('front/news_group/_delete_form.html.twig') }}
{% endblock %}
