{% extends 'base_front.html.twig' %}

{% block body %}

    <section class="event-index">
        <h1>Liste des évènements</h1>
        {% for event in events %}
            <a class="event-card" href="{{ path('front_app_event_show', {'id': event.id}) }}">
                <div class="header">
                    <span>{{ event.musicGroup.name }} à {{ event.lieu }}</span>
                    <span>{{ event.eventStart ? event.eventStart|date('Y-m-d') : '' }}</span>
                </div>
                <h5>{{ event.title }}</h5>
                <p>{{ event.description }}</p>
                {% if event.public == true %}
                    <i title="public" class="fa-solid fa-lock-open"></i>
                {% endif %}
                {% if event.public == false %}
                    <i title="private" class="fa-solid fa-lock"></i>
                {% endif %}
            </a>
            {% else %}
            <p class="empty">Vous n'avez aucun évènements</p>
        {% endfor %}

    </section>

{% endblock %}