{% extends 'base_back.html.twig' %}

       {% block stylesheets %}
           {{ parent() }}
           {{ encore_entry_link_tags('app') }}
       {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

{% block body %}
    <section class="admin-user-show">
        <ul>
            <li><span>ID:</span> {{ user.id }}</li>
            <li><span>FIRSTNAME:</span> {{ user.firstname }}</li>
            <li><span>LASTNAME:</span> {{ user.lastname }}</li>
            <li><span>EMAIL:</span> {{ user.email }}</li>
            <li><span>RÔLES:</span> {% for role in user.roles %}
                    {{role}}
                {% endfor %}
            </li>
        </ul>
        <div class="buttonContainer">
            <button class="button">
                <a href="{{ path('back_user_index') }}">
                <i class="fa-solid fa-arrow-left"></i></a>
            </button>
            <button class="button">
                <a href="{{ path('back_user_edit', {'id': user.id}) }}"><i class="fa-solid fa-pencil"></i></a>
            </button>
            {% include 'back/user/_delete_form.html.twig' %}
        </div>
    </section>


{% endblock %}
