{% extends 'base_back.html.twig' %}
{% block body %}
<div class="container">
<h1>Demande pour être artiste :</h1>
{% for user in artistsUsersRequest %}
    <table class="table">
        <thead>
            <tr>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.description }}</td>
                <td>{{ user.promotionLink }}</td>
                <td>
                {% for role in user.roles %}
                    {{role}}
                {% endfor %}
                </td>
                <td class="actionTable">
                    <button class="button">
                        <a href="{{ path('back_user_show', {'id': user.id}) }}"><i class="fa-solid fa-eye"></i></a>
                    </button>
                    <form method="post" action="{{ path('back_user_update_status', {'id': user.id}) }}" onsubmit="return confirm('Voulez-vous vraiment passer cet utilisateur Artiste ?');">
                        {# <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}"> #}
                        <button class="button">
                            <i class="fa-solid fa-check"></i>
                        </button>
                    </form>
                    <form method="post" action="{{ path('back_user_rejected_status', {'id': user.id}) }}" onsubmit="return confirm('Voulez-vous vraiment refuser la demande pour passer Artiste de cet utilisateur');">
                        {# <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}"> #}
                        <button class="button">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </form>
                </td>
            </tr>
        </thead>
        <tbody>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h1>Demande pour être manager :</h1>
    {% for user in managersUsersRequest %}
    <table class="table">
        <thead>
            <tr>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.description }}</td>
                <td>{{ user.promotionLink }}</td>
                <td>
                {% for role in user.roles %}
                    {{role}}
                {% endfor %}
                </td>
                <td class="actionTable">
                    <button class="button">
                        <a href="{{ path('back_user_show', {'id': user.id}) }}"><i class="fa-solid fa-eye"></i></a>
                    </button>
                    <form method="post" action="{{ path('back_user_update_status', {'id': user.id}) }}" onsubmit="return confirm('Voulez-vous vraiment passer cet utilisateur Manager ?');">
                        {# <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}"> #}
                        <button class="button">
                            <i class="fa-solid fa-check"></i>
                        </button>
                    </form>
                    <form method="post" action="{{ path('back_user_rejected_status', {'id': user.id}) }}" onsubmit="return confirm('Voulez-vous vraiment refuser la demande pour passer Manager de cet utilisateur');">
                        {# <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}"> #}
                        <button class="button">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </form>
                </td>
            </tr>
        </thead>
        <tbody>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block title %}BACK!{% endblock %}