{% extends 'base_front.html.twig' %}
{% block body %}

    <section class="music-group-index">
        <h1>Music index</h1>

        <button class="button">
            <a href="{{ path('front_app_music_new') }}">Create new</a>
        </button>

        <div class="music-group-list">
            {% for music in music %}
                <a class="music-group-card" href="{{ path('front_app_music_show', {'id': music.id}) }}">
                    <h3>{{ music.name }}</h3>

                    <div class="music-group-infos">
                        <h3>{{ music.size }}</h3>
                        <h3>{{ music.type }}</h3>
                    </div>
                </a>
            {% else %}
                <p>Aucun groupe de musique n'a été trouvé</p>
            {% endfor %}
        </div>
    </section>


{% endblock %}
