{% extends 'base_front.html.twig' %}

{% block body %}
    <h1 class="mainTitle">Music</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ music.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ music.name }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ music.url }}</td>
            </tr>
            <tr>
                <th>Size</th>
                <td>{{ music.size }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ music.type }}</td>
            </tr>

        </tbody>
    </table>





    <audio controls>
        <source src="{{ asset('uploads/' ~ music.url) }}" type="audio/mpeg">
    </audio>


    <div class="buttonContainer">
        <button class="button">
            <a href="{{ path('front_app_music_index') }}"><i class="fa-solid fa-arrow-left"></i></a>
        </button>
        {% if is_granted('ROLE_ADMIN')  %}
            <button class="button">
                <a href="{{ path('front_app_music_edit', {'id': music.id}) }}">edit</a>
            </button>
            {{ include('front/music/_delete_form.html.twig') }}
        {% endif %}
    </div>

{% endblock %}
