{% extends 'base_front.html.twig' %}

{% block body %}
    <section class="profile-index">
        <div class="header">
            <img src="{{ asset('images/' ~  user.image) }}" alt="logo" />
            <div class="text">
                <span>PROFILE</span>
                <h2>{{ user.firstname }} {{ user.lastname }}</h2>
                <p>{{ user.email }}</p>
                {# <a href="{{ path('front_app_music_group_show', {'id': album.musicGroup.id}) }}">{{ album.musicGroup.name }}</a> #}
            </div>
        </div>
                {{ include('front/navbar.html.twig') }}

    </section>


{% endblock %}