{% extends 'base_front.html.twig' %}

{% block body %}
    <section class="playlist-edit">
        <h2>Modifier votre playlist</h2>
        {{ form_start(form) }}
            <div class="input-container">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
            </div>
            <div class="input-container">
                {{ form_label(form.image) }}
                {{ form_widget(form.image) }}
            </div>
            <div class="input-container">
                {{ form_label(form.public) }}
                {{ form_widget(form.public) }}
            </div>
            <div class="input-container">
                {{ form_label(form.music) }}
                {{ form_widget(form.music) }}
            </div>
            <div class="button-container">
                <button class="button">{{ button_label|default('Save') }}</button>
            </div>

            <script>
                $(document).ready(function() {
                    $('.js-example-basic-multiple').select2({
                        escapeMarkup: function(markup) {
                            return markup;
                        }
                    });
                });
            </script>

        {{ form_end(form) }}
                        {{ include('front/playlist/_delete_form.html.twig') }}

    </section>

{% endblock %}
