{% extends 'base_front.html.twig' %}

{% block body %}
    <section class="playlist-show">
        <div class="header">
            <img src="{{ asset('images/' ~  playlist.image) }}" alt="logo" />
            <div class="text">
                <span>PLAYLIST</span>
                <h2>{{ playlist.name }}</h2>

                {# <a href="{{ path('front_app_music_group_show', {'id': album.musicGroup.id}) }}">{{ album.musicGroup.name }}</a> #}
            </div>
        </div>
        <a class="edit" href="{{ path('front_app_playlist_edit', {'id': playlist.id}) }}">Modifier</a>
        <span>MUSICS</span>
        <ul>
        {% for music in musics %}
            <li>
                {{music.name}}
            </li>
        {% endfor %}
        </ul>
    </section>

{% endblock %}
